XAgent/tool_interface/n8n_tools/credentials/w.json
[
    {
        "createdAt": "2023-09-18T02:12:38.969Z",
        "updatedAt": "2023-09-24T13:28:17.000Z",
        "id": "FBX93C2HjgP1aRqE",
        "name": "My workflow",
        "active": false,
        "nodes": [
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#general",
                        "mode": "name"
                    },
                    "text": "hello world",
                    "otherOptions": {}
                },
                "id": "58cee19a-cd67-4754-9b0e-0a0fe8995ff5",
                "name": "Slack",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.1,
                "position": [
                    1000,
                    280
                ],
                "credentials": {
                    "slackApi": {
                        "id": "YwNjTsMDp7m1Qddq",
                        "name": "Slack-bot"
                    }
                }
            },
            {
                "parameters": {},
                "id": "096e5d7d-df54-4e3a-a81c-48eccf46c42e",
                "name": "When clicking \"Execute Workflow\"",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    520,
                    580
                ]
            },
            {
                "parameters": {
                    "authentication": "oAuth2",
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#general",
                        "mode": "name"
                    },
                    "text": "hello world 2",
                    "otherOptions": {}
                },
                "id": "096092d3-4991-443e-b1d0-f625596dc716",
                "name": "Slack1",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.1,
                "position": [
                    1000,
                    460
                ],
                "credentials": {
                    "slackOAuth2Api": {
                        "id": "uWOJe3T8lwP1Ek6x",
                        "name": "Slack-user"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "database",
                    "operation": "getAll"
                },
                "id": "8e3c1e97-1569-427f-a6e2-8f3f0a80aaaa",
                "name": "Notion",
                "type": "n8n-nodes-base.notion",
                "typeVersion": 2,
                "position": [
                    760,
                    420
                ],
                "credentials": {
                    "notionApi": {
                        "id": "F5SQB9ZaLPvX8aGo",
                        "name": "Notion account"
                    }
                }
            },
            {
                "parameters": {
                    "authentication": "oAuth2",
                    "resource": "review",
                    "operation": "getAll",
                    "owner": {
                        "__rl": true,
                        "value": "yeyn19",
                        "mode": "name"
                    },
                    "repository": {
                        "__rl": true,
                        "mode": "list",
                        "value": ""
                    }
                },
                "id": "c118fbb1-cb3a-4a3f-a288-7d63ddbd34dd",
                "name": "GitHub",
                "type": "n8n-nodes-base.github",
                "typeVersion": 1,
                "position": [
                    620,
                    280
                ],
                "credentials": {
                    "githubOAuth2Api": {
                        "id": "LiN4ySKRS7giZEt3",
                        "name": "GitHub account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "playlist",
                    "operation": "get",
                    "options": {}
                },
                "id": "852079c1-fcfe-4b00-96a2-dbdd2014366a",
                "name": "YouTube",
                "type": "n8n-nodes-base.youTube",
                "typeVersion": 1,
                "position": [
                    840,
                    680
                ],
                "credentials": {
                    "youTubeOAuth2Api": {
                        "id": "HuplFj0dLw3k7sIp",
                        "name": "YouTube account"
                    }
                }
            }
        ],
        "connections": {
            "When clicking \"Execute Workflow\"": {
                "main": [
                    []
                ]
            },
            "Slack": {
                "main": [
                    [
                        {
                            "node": "Slack1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "GitHub": {
                "main": [
                    []
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        },
        "staticData": null,
        "pinData": {},
        "versionId": "13679f75-0598-4a2a-86c7-089b54b53a6f",
        "triggerCount": 0,
        "tags": []
    },
    {
        "createdAt": "2023-09-18T05:13:42.290Z",
        "updatedAt": "2023-09-18T05:13:42.290Z",
        "id": "tF4RBhcKU9EZ1kBp",
        "name": "My workflow 2",
        "active": false,
        "nodes": [],
        "connections": {},
        "settings": {
            "executionOrder": "v1"
        },
        "staticData": null,
        "pinData": {},
        "versionId": "5dcecf88-04cb-40e9-a8cd-8650e4f76a13",
        "triggerCount": 0,
        "tags": []
    },
    {
        "createdAt": "2023-09-19T02:41:13.385Z",
        "updatedAt": "2023-09-19T10:35:34.000Z",
        "id": "vZt3aBSrTTVmSj6K",
        "name": "My workflow 3",
        "active": false,
        "nodes": [
            {
                "parameters": {},
                "id": "1be8db5a-5795-413a-9e20-9d459e137782",
                "name": "When clicking \"Execute Workflow\"",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    1000,
                    520
                ]
            },
            {
                "parameters": {
                    "sendTo": "yeyn2001@gmail.com",
                    "subject": "hello world",
                    "message": "hello world",
                    "options": {}
                },
                "id": "f6655855-7bb8-482d-aa30-0e88b84370ba",
                "name": "Gmail",
                "type": "n8n-nodes-base.gmail",
                "typeVersion": 2,
                "position": [
                    1220,
                    520
                ],
                "credentials": {
                    "gmailOAuth2": {
                        "id": "vDOrviCgjQJSsxI9",
                        "name": "Gmail account"
                    }
                }
            },
            {
                "parameters": {
                    "resource": "user",
                    "operation": "getAll"
                },
                "id": "548fef37-2244-4666-a241-43ca6aad3915",
                "name": "Notion",
                "type": "n8n-nodes-base.notion",
                "typeVersion": 2,
                "position": [
                    1440,
                    520
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#general",
                        "mode": "name"
                    },
                    "text": "hello {{$json.name}}",
                    "otherOptions": {}
                },
                "id": "8c654ddc-2fc4-4178-aaf1-4a55d6932b8a",
                "name": "Slack",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.1,
                "position": [
                    1660,
                    520
                ],
                "credentials": {
                    "slackApi": {
                        "id": "Pydv9n4e1O7TkrSY",
                        "name": "Slack account"
                    }
                }
            }
        ],
        "connections": {
            "When clicking \"Execute Workflow\"": {
                "main": [
                    [
                        {
                            "node": "Gmail",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Notion": {
                "main": [
                    [
                        {
                            "node": "Slack",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1"
        },
        "staticData": null,
        "pinData": {},
        "versionId": "7e143687-a6ad-48b6-87ee-aaa99ad58363",
        "triggerCount": 0,
        "tags": []
    }
]